<!DOCTYPE html>
<html lang="en">
{{>header}}
  <body>
    {{>navbar}}
    <div class="container">
      <form action="/auth/login" method="post">
        <h1>User Login</h1>
        {{#if msg}}
        <p class="{{msg_type}}">{{msg}}</p>
        {{/if}}
        <div class="username">
          <label for="email"> Email</label>
          <input type="email" name="email" id="email" />
        </div>
        <div class="password">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" />
        </div>
        <div class="forgot-pass">
          <a href="#">Forgot password?</a>
        </div>
        <div>
          <button>LOGIN</button>
          <h6>Not a Member ?<a href="/register">SignUp now</a></h6>
        </div>
      </form>
    </div>
  </body>
</html>
