<!DOCTYPE html>
<html lang="en">

{{>header}}
  <body>
    {{>navbar}}
    
    <div class="container">
      <form action="/auth/register" method="post">
        <h1>Registration</h1>
        {{#if msg}}
        <p class="{{msg_type}}">{{msg}}</p>
        {{/if}}
        <div class="username">
            <label for="fullname">Fullname</label>
            <input type="text" name="fullname" id="fullname"/>
          </div>
        <div class="username">
          <label for="email"> Email</label>
          <input type="email" name="email" id="email" />
        </div>
        <div class="password">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" />
        </div>
        <div class="password">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" name="confirm_password" id="confirm_password" />
          </div>
        <div>
          <button>REGISTER</button>
          <h6>Already a member ?<a href="/">Login now</a></h6>
        </div>
      </form>
    </div>
  </body>
</html>
